---
import type { CollectionEntry } from "astro:content";

type Props = {
  album?: CollectionEntry<"albums">;
  area?: CollectionEntry<"areas">[];
  temple?: CollectionEntry<"temples">[];
};

const { album, area, temple } = Astro.props;
const info = album ? album : area ? area : temple ? temple : "";
const infos = album ? 'albums' : area ? 'areas' : temple ? 'temples' : "";
const href = album
    ? `/${info?.data?.artist?.id}/${infos}/${info?.id}`
    : area
        ? `/${info?.data?.nation?.id}/${infos}/${info?.id}`
        : temple
            ? `/${info?.data?.area?.id}/${infos}/${info?.id}`
            : "";
---

<a class=`${info}-card info-card` href={href}>
  <div>
    <img
      class="fade-in"
      loading="lazy"
      src={info?.data?.image.src}
      alt={info?.data?.image.alt}
    />
  </div>
  <h3>{info?.data?.name}</h3>
  <p>{new Date(info?.data?.publishDate).getFullYear()}</p>
</a>

<style>
  .info-card {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-content: start;
    max-width: 300px;
  }
  div {
    aspect-ratio: 1;
    grid-area: img;
    background: var(--color-placeholder);
  }
  h3,
  p {
    margin: 0;
  }
  h3 {
    grid-area: title;
  }
  p {
    justify-self: end;
    grid-area: meta;
  }
</style>
