---
import type { CollectionEntry } from "astro:content";

type Props = {
  area: CollectionEntry<"areas">;
};

const { area } = Astro.props;
---

<a class='area-card' href={`/${area?.data?.nation}/${area?.id}`}>
  <div>
    <img
      class="fade-in"
      loading="lazy"
      src={area?.data?.image.src}
      alt={area?.data?.image.alt}
    />
  </div>
  <h3>{area?.data?.name}</h3>
  <p>{new Date(area?.data?.publishDate).getFullYear()}</p>
</a>

<style>
  .area-card {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-content: start;
    max-width: 300px;
  }
  div {
    aspect-ratio: 1;
    grid-area: img;
    background: var(--color-placeholder);
  }
  h3,
  p {
    margin: 0;
  }
  h3 {
    grid-area: title;
  }
  p {
    justify-self: end;
    grid-area: meta;
  }
</style>
