---
import type { CollectionEntry } from "astro:content";

type Props = {
  artist?: CollectionEntry<"artists">;
  nation?: CollectionEntry<"nations">;
};

const { artist, nation } = Astro.props;
const object = artist ? artist : nation ? nation : "";
const href = artist ? `/${artist?.id}` : nation ? `/${nation?.id}` : "";
---

<a
  href={href}
  class="artist"
  style={`--image: url('${object?.data?.image.src}');`}
  data-stagename={object?.data?.stage_name}
  data-name={object?.data?.name}
  data-genre={object?.data?.genre || ""}
  data-astro-prefetch
  aria-label={object?.data?.name}></a>

<style>
  a {
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 0.8;
  }
</style>
